body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 225, 16);
}
.table{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(128, 0, 0);
  color: white;
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: rgb(140, 16, 16);
}

.topnav a {
  float: left;
  color: rgb(241, 225, 16);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(241, 225, 16);
  color: rgb(140, 16, 16);
}
.button {
  background-color: rgb(140, 16, 16); 
  border: none;
  color:  rgb(241, 225, 16);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:100px;
  width:200px;
}
.box {
		max-width: 500px;
		margin: 0 auto;
		background-color: rgb(140, 16, 16);
		color:  rgb(241, 225, 16);
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkbox-group {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 10px;
				margin-bottom: 10px;
				}
.checkbox-group label {
				display: flex;
				align-items: center;
				font-size: 14px;
				font-weight: normal;
				}
.checkbox-group label input[type=checkbox] {
				margin-right: 5px;
				}